<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Reactjs Khoa Pham</title>
    <script crossorigin src="react.development.js"></script>
    <script crossorigin src="react-dom.development.js"></script>
    <script src="browser.min.js"></script><!-- babel - core -->
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <script src="jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <div id="root2"></div>
    <script type="text/babel" src="ajaxp4.js">
    </script>
</body>
</html>
